<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Journey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home"><i class="fa fa-home"></i><span> Dashboard</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/pessoas"><i class="fa fa-user"></i><span> Pessoas</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/pagamentos"><i class="fa fa-dollar"></i><span> Pagamentos</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/quatos"><i class="fa fa-bed"></i><span> Quartos</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/fotos"><i class="fa fa-image"></i><span> Fotos</span></a>
        </li>
    </ul>
    <div class="my-2 my-lg-0">
        <a class="nav-link" href="#"><i class="fa fa-power-off"></i><span> Sair</span></a>
     </div> 
  </div>
</nav>