/* You can add global styles to this file, and also import other style files */
.form-bar{
    margin-bottom: 9px;
    float: right;
}
.form-bar > a {
    margin-right: 5px;
}
.btn-table {
    display: inline-block;
    /*padding: 6px 12px;*/
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}